<?xml version='1.0' encoding='utf-8'?>
<plugin id="printer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>printer</name>
    <js-module name="PrinterPlugin" src="www/printer.js">
        <clobbers target="PrinterPlugin" />
    </js-module>
    <!--添加安卓平台-->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-feature android:name="android.hardware.bluetooth_le" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*"> 
                     <!--js调用的对象名-->
            <feature name="PrinterPlugin">
                            <!-- value=java类名全路径-->
                <param name="android-package" value="com.wxz.PrinterPlugin"/>
            </feature> 
        </config-file> 
              <!-- src:java源文件的路径， target-dir:插件安装好后，源文件的位置，要和上面的包名对应 -->
        <source-file src="src/android/PrinterPlugin.java" target-dir="src/com/wxz" />   
        <source-file src="src/android/PrintUtils.java" target-dir="src/com/wxz/PrintUtils" />
        <source-file src="src/android/POSSDKForAndroid.jar" target-dir="libs" />          
    </platform>
</plugin>
